<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="proton">
		<link rel="icon" href="/img/hakase_200_200pink.jpg">
		<link rel="stylesheet" href="/css/style.css">
		<title>Hakase</title>
	</head>

	<body>
		<div class="outer">
			<div align="center">
				<a href="/"><img src="img/hakase_s.png" width="500"></a>
				<form method="post" action="grp_search_form_post">
					<!--
		 <input type="text" name="usr_id" placeholder="your user id">
					-->
					<input class="hfi" type="text" name="usr_id" placeholder="your user id" style="/*border: none; */padding; 0px; margin: 0px; heigt: auto; width:10%; position: absolute; z-index: 1; background-color: trasparent; left; 0px">
					<input type="submit" value="search">
				</form>
			</div>
		</div>



		<div id="h_ftr">
			<div id="h_ftr_rt">
				<a href="/">about Hakase</a>
			</div>
		</div>


	</body>
</html>
