<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="proton">
		<link rel="icon" href="/img/hakase_200_200.jpg">
		<link rel="stylesheet" href="/css/style.css">
		<title>Hakase</title>
	</head>

	<body>

		<div class="outer">
			<div align="center">
				<a href="/"><img src="/img/hakase_s.png" width="500"></a>

				<form method="post" action="grp_input_form_post">
					<input type="text" name="grp_id" placeholder="group id"><br>
					<input type="text" name="usr_id" placeholder="your user id"><br>
					<input type="submit" value="go">
				</form>
			</div>
		</div>
	</body>
</html>
