<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="proton">
		<link rel="icon" href="/img/hakase_200_200pink.jpg">
		<link rel="stylesheet" href="/css/style.css">
		<title>Hakase</title>
	</head>
	<body>
		<div id="gs_hdr" role="banner">
			<a href="/"><img src="/img/hakase_simple.png" width="100px"></a>
			<div id="gs_hdr_md">

			</div>

		</div>



		<%=search_key%>'s grouplist...
		<br>
		<% result.each do |row|%>
			<a href="/grp_tl?grp_id=<%=row["grp_id"]%>">
				<%=row["grp_id"]%>
			</a>
			<br>
		<%end%>

	</body>
</html>
