<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="proton">
		<link rel="icon" href="/img/hakase_200_200pink.jpg">
		<link rel="stylesheet" href="/css/style.css">
		<title>Hakase</title>
	</head>

	<body>
		
		<div class="headbox">
			<a href="/"><img src="/img/hakase_simple.png" height=70></a>
		</div>

		<div>
			<%=search_key%>'s readlog...
			<br>
			<% result.each do |row|%>
				<a href='<%=row["pp_url"]%>'><%=row["pp_title"]%></a>
				<br>
			<%end%>
		</div>
	</body>
</html>
