<form method="post" action="log_input_form_post">
	<input type="text" name="usr_id" placeholder="your user id"><br>
	<input type="text" name="pp_url" placeholder="paper url"><br>
	<input type="text" name="pp_title" placeholder="paper title"><br>
	<input type="submit" value="go">
</form>

<!--
<% readlog.each do |row|%>
	<%= row['usr_id']%>
	<%= row['pp_title']%>
	<br>
<% end %>
-->
