html, body, form, table, div, h1, h2, h3, h4, h5, h6, img, ol, ul, li, button {
	margin: 0;
	padding: 0;
	border: 0;
}

div {
   display: block;
	}
body, input, button{
	/*width: 100%;*/
	/*position: relative*/
	font-size: 13px;
	font-family: Arial,sans-serif;
	line-height: 1.24;
}

body{
	background: #fff;
	color: #222;
}

.headbox{
	width:100%;
	height:70px;
	background-color: #f5f5f5
}

.hfi{
	font: 16px arial,sans-serif;
	line-height: 34px;
	height: 34px !important;
}


#h_ftr{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	white-space: nowrap;
	border-top: 1px solid #e4e4e4;
	background-color: #f2f2f2;
}

#h_ftr_rt{
	box-sizing: border-box;
	max-width: 100%;
	overflow-x: auto;
	float: right;
	padding: 8px;
}

#h_ftr a:link, #h_ftr a:visited{
	color: #666;
}

#h_ftr a{
	display: inline-block;
	line-height: 16px;
	padding: 12px;
	white-space: nowrap;
}

a:visited{
	color: #660099;
	text-decoration: none;
}
a:link{
	color: #1a0dab;
	text-decoration: none;
}

.outer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

p.blankbox{
	background-color: #f8dce0; 
	margin: 10px; 
	padding: 10px; 
	width:100%; 
	height:200px
}
/*gs関連*/
.gs_rt {
	position: relative;
	font-weight: normal;
	font-size: 17px;
	line-height: 19px;
	margin-bottom: 2px;
}


.gs_el_ta .gs_rs {
	margin-right: 10%;
}

.gs_rs {
	margin: 2px 0;
	word-wrap: break-word;
}
.gs_ri .gs_fl {
	font-size: 1px;
}

.gs_ri {
	    max-width: 712px;
}

.gs_fl {
	color: #777777;
}

.gs_ri .gs_fl a {
	font-size: 13px;
	margin-right: 12px;
}
.gs_ri .gs_fl a, .gs_a a {
	white-space: nowrap;
}

a.gs_fl:visited, .gs_fl a:visited {
	color: #660099;
}

a.gs_fl:link, .gs_fl a:link {
	color: #1a0dab;
}

a:visited {
	color: #660099;
	text-decoration: none;
}
.gs_or_svg {
	position: relative;
	width: 29px;
	height: 16px;
	vertical-align: text-bottom;
	fill: none;
	stroke: #1a0dab;
}
.gs_or_svg path{
	position: relative;
	width: 29px;
	height: 16px;
	vertical-align: text-bottom;
	fill: none;
	stroke: #1a0dab;
}

.gs_el_ta #gs_hdr, .gs_el_ph #gs_hdr {
	    height: 57px;
	}
#gs_hdr {
	position: relative;
	height: 63px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	display: -webkit-box;
	display: flex;
}

#gs_hdr_md {
	margin-right: 16px;
	min-width: 1px;
}

#gs_hdr_md {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	display: block;
}

#gs_hdr_mnu, #gs_hdr_bck, #gs_hdr_lgo, #gs_hdr_lgt, #gs_hdr_md, #gs_hdr_sre, #gs_hdr_act {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 100%;
	flex: 0 0 auto;
}

#gs_bdy {
	display: table;
	table-layout: fixed;
	width: 100%
}

#gs_bdy_ccl {
	display: table-cell;
	vertical-align: top;
	padding: 0 24px 0 16px;
}



.gs_el_ta #gs_res_ccl, .gs_el_ph #gs_res_ccl {
	margin: 16px 0 0 0;
}

#gs_res_ccl {
	margin: 21px 0 0 0;
	max-width: 950px;
}

.smlbox {
	margin-left: 120px
}
